{% extends 'base.html' %}
{% block main %}


<html>
<head>
	 <title>Jonathan's Profile</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

</head>
<body>
    <div class="intro">
        <img src="{{ url_for('static', filename='2019-1-11_13-33-21-483.BMP') }}" class="Jonno">
	    <h2>Jonathan Clarke</h2>
		<p>@cpt.jonno</p>
		<p>Kingston,Jamaica</p>
		<p>Joined {{ joindate }}</p>
	</div>
	<div class="about">
	    <p> I am an ambitious and goal-oriented student with excellent work ethic and a serious passion for aviation.<br> Some day I plan to fly airplanes then come back and <br>Make Jamaica Great Again.</p>
	    <div class ="row">
            <div class ="column">6</div>
            <div class ="column">69</div>
            <div class ="column">6969</div>
        </div>
        <div class ="row">
            <div class ="column">Posts</div>
            <div class ="column">Following</div>
            <div class ="column">Followers</div>
	    <button class= "followbutton">Follow</button>

	</div>



</body>
</html>    
{% endblock %}
